createtbl-pgadmin.png
creating postgress database.png
creating tbl scrip in postgress.png
news_log_etl_AzureAutomation.py
notes-pgadmin-az-automation.txt
notes-pgadmin-az-automation.txt
source_df_dataframe.pngcreatetbl-pgadmin.png
createtbl-pgadmin.png
creating postgress database.png
creating postgress database.png
creating tbl scrip in postgress.png
news_log_etl_AzureAutomation.py
notes-pgadmin-az-automation.txt
notes-pgadmin-az-automation.txt
